{% extends "main/header.html" %}
{% load static %} 
<!DOCTYPE html>
<html> 
{% block extrahead %}
<link rel="stylesheet" href="{% static 'slideshow.js' %}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{% endblock %}
{% block content %}

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="{% static 'images\favicon.png' %}"></div>
    <div class="swiper-slide"><img src="{% static 'images\favicon.png' %}"></div>
    <div class="swiper-slide"><img src="{% static 'images\favicon.png' %}"></div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>





{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>
</html>