{% extends "main/header.html" %}
{% load static %} 
<!DOCTYPE html>
<html>
{% block extrahead %}
{% endblock %}
{% block content %}
<!-- Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </div>
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
</div>
<div class="swiper-desc">
    <!-- swiper description here -->
</div>
    {% endblock %}
{% block full-width %}
<div id="announcementTitleBar">Announcements</div>
<div id="announcementDescBar"><div id="annDescText">Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder</div></div>
<div class="featured-videos-home">Videos go here</div>
<div id="homeDivider"></div>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        {% for article in articles %}
        <div class="col-8">
            <div class="card border-0">
                <div class="card-body text-white">
                    <h2 class="card-title text-white">{{ article.title }}</h2>
                    <p class="card-text h6">{{ article.author }} | {{ article.created_on}} </p>
                    <p class="card-text">{{article.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' article.slug  %}" class="btn btn-secondary">Read More &rarr;</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endblock %}
        {% include 'main/footer.html' %}
        {% block extrascripts %}
        <script>
            const swiper = new Swiper(".mySwiper", {
                loop: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });</script>
        {% endblock %}
        </body>
</html>